body {
    margin: 0;
}
.categoryButton{
    display: flex;
    border-radius: 8%;
    border:  hsla(241, 100%, 72%, 0.692) 0.5px solid;
    width: 75px;
    height: 25px;
    background-color: hsla(241, 100%, 82%, 0.692);
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding: 6px;
}

.categoryButtonContainer{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: fit-content;
    border: 2px black solid;
    margin: auto;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.inputLabelContainer{
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.input{
    height: 1.25rem;
    width: 13rem;
    font-size: 12.5pt;
    padding: 0.2rem;
}

.inputl{
    height: 1.25rem;
    width: 18rem;
    font-size: 12.5pt;
    padding: 0.2rem;
}

.select{
    height: 1.75rem;
    width: 13.50rem;
    font-size: 12.5pt;
}

.buttonForm{
    width: 8rem;
    height: 1.5rem;
}

.submitTriviaForm{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: fit-content;
    border: 2px black solid;
    margin: auto;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

.spacer{
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

.inputsm{
    height: 1.25rem;
    width: 3rem;
    font-size: 12.5pt;
    padding: 0.2rem;
}

.inputm{
    height: 1.25rem;
    width: 6rem;
    font-size: 12.5pt;
    padding: 0.2rem;
}

.combiner{
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    margin-bottom: 25px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;
}

.navText {
    color: #ddd;
    text-decoration: none;
    margin: 5px 0;
}

.navText:hover {
    color: white;
    cursor: pointer;
}